
/*    Right panel stats and stuff  */

#save_menu_dropdown {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.right_panel {
    /*padding-left: 70px;*/
    margin-top: 70px;
    /*width: 255px;
    margin-right: 35px;
    vertical-align: top;*/
    /*outline: 1px solid #dcdfe1;*/
}

#cumulativegraph {
    padding: 0px;
    margin-left: 0px;
    width: 140px;
    height: 140px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.stats_alert {
    margin: 10px;
    font-size: 11px;
}

.graph_title {
    margin-top: 20px;
    /*text-align: center;*/
}

#day_stats {
    padding-left: 10px;
}

#micro_expandable {
    font-size: 14px;
    width: 150px;
    padding-left: 10px;
}

.site_tour {
    margin-top: 15px;
    font-size: 12px;
    padding-left: 10px;
}

.clickable {
    cursor: pointer;
}

#micro_day_stats {
    display: none;
    float: left;
    margin-left: 3px;
    margin-top: 5px;
    font-size: 10px;
    width: 200px;
    overflow-y: auto;
    height: 373px;
    margin-bottom: 15px;
    padding-right: 5px;
}

.micro_details_header {
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 12px;
}

.perc_daily_val {
    float: right;
}

.net_carbs_div {
    margin-left: 15px;
    margin-top: 0px;
    font-size: 11px;

}

.net_carbs_tooltip {
    color: #0088cc;
}

.total_price_div {
    margin-top: 8px;
    display: inline-block;
}